@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-pagination-color: #2EC4B6;
  --swiper-pagination-bullet-inactive-color: #FFFFFF;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-size: 6px;
  --swiper-pagination-bullet-horizontal-gap: 6px;
}

.onboard-swiper {
  --swiper-pagination-bullet-inactive-color: #2EC4B620;
  --swiper-pagination-bullet-size: 8px;

  .swiper-pagination-bullet-active {
    width: 16px !important;
    border-radius: 10px !important;
    transition: width 0.3s ease-in-out;
  }

}


.swiper-pagination-bullet-active {
  width: 12px !important;
  border-radius: 10px !important;
  transition: width 0.3s ease-in-out;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 35, 100%, 55%;
    --primary-foreground: 35, 100%, 55%, 0.04;
    --secondary: 174, 62%, 47%, 1;
    --secondary-foreground: 35, 100%, 55%;
    --muted: 174, 62%, 47%, 1;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 174, 62%, 47%, 1;
    --accent-foreground: 35, 100%, 55%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 35, 100%, 55%, 0.04;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 35, 100%, 55%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark:root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 35, 100%, 55%;
    --primary-foreground: 35, 100%, 55%, 0.04;
    --secondary: 174, 62%, 47%, 1;
    --secondary-foreground: 35, 100%, 55%;
    --muted: 174, 62%, 47%, 1;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 174, 62%, 47%, 1;
    --accent-foreground: 35, 100%, 55%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 35, 100%, 55%, 0.04;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 35, 100%, 55%;
  }
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  /* Autofill background fix */
  input:-webkit-autofill {
    -webkit-text-fill-color: #000 !important;
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
    background-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
  }


  input[type="date"] {
    background-color: white !important;
    color: gray;
  }

  /* For WebKit browsers (Chrome, Safari) */
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0);
  }
}

.customPlaceholderText input::placeholder {
  color: #333333;

}

/* Slider Track */
.slider {
  -webkit-appearance: none;
  /* Remove default styling */
  appearance: none;
}

.slider::-webkit-slider-runnable-track {
  background: #FFA500;
  /* Orange color for the track */
  height: 4px;
  border-radius: 4px;
  border: none;
  /* Remove border from the track */
}

.slider::-moz-range-track {
  background: #FFA500;
  /* Orange color for the track */
  height: 4px;
  border-radius: 4px;
  border: none;
  /* Remove border from the track */
}

/* Slider Thumb */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Remove default styling */
  appearance: none;
  background: #ffffff;
  /* White color for the thumb */
  border-radius: 50%;
  /* Round thumb */
  width: 20px;
  /* Thumb width */
  height: 20px;
  /* Thumb height */
  cursor: pointer;
  /* Pointer cursor when hovering over the thumb */
  border: 2px solid #FFA500;
  /* Optional: Add orange border around the white thumb */
  margin-top: -8px;
  /* Align the thumb correctly */
}

.slider::-moz-range-thumb {
  background: #ffffff;
  /* White color for the thumb */
  border-radius: 50%;
  /* Round thumb */
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 2px solid #FFA500;
  /* Optional: Add orange border around the white thumb */
}

/* For Internet Explorer */
.slider::-ms-track {
  background: #FFA500;
  /* Orange color for the track */
  height: 4px;
  border-radius: 4px;
  border: none;
  /* Remove border from the track */
}

.slider::-ms-thumb {
  background: #ffffff;
  /* White color for the thumb */
  border-radius: 50%;
  /* Round thumb */
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 2px solid #FFA500;
  /* Optional: Add orange border around the white thumb */

}

/* global.css or tailwind.config.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}